*,
:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

:root {
  --blue: #0323fc;
  --light-blue: #7ca6fa;
  --green: #02c313;
  --yellow: #facb3e;
  --pink: #fe03f4;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
  background-color: #eeecee;
}

.header {
  background-color: var(--pink);
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  text-shadow: 3px 3px var(--light-blue), 5px 5px var(--yellow);
}

button {
  color: white;
  background-color: var(--light-blue);
  border-radius: 5px;
  border: transparent;
  padding: 0.5rem;
  box-shadow: 3px 3px 0px var(--pink);
}

.input-input {
  padding: 0.5rem;
  border: transparent;
  margin-right: 2rem;
  border-radius: 5px;
}

h2 {
  font-size: 1rem;
  margin: 2rem 2rem;
}

.container-radiobutton {
  margin: 1rem;
}

li {
  list-style: none;
}
